flows.json
[{"id":"c59f4d226b2a4dd1","type":"tab","label":"352air_m25","disabled":false,"info":"","env":[]},{"id":"4737cac7.9020d4","type":"udp in","z":"c59f4d226b2a4dd1","name":"In for Receive Pm2.5","iface":"233.255.255.255","port":"11530","ipv":"udp4","multicast":"false","group":"233.255.255.255","datatype":"buffer","x":220,"y":580,"wires":[["f6059d91.eb7aa","0276aecf50fd6cde"]]},{"id":"f6059d91.eb7aa","type":"function","z":"c59f4d226b2a4dd1","name":"Parse Pm2.5 ALL","func":"var buf = Buffer.from(msg.payload);\nif (buf.length != 33 || buf[0] != 0xA1) {\n    return null;\n}\nvar ipAddr = msg.ip + ':' + msg.port;\nvar macAddr = buf.slice(2, 8).toString('hex');\nvar pm25 = buf.slice(19, 21).readUInt16BE();\n// 组合数据\nvar result = {\n    ip: ipAddr,\n    mac: macAddr,\n    pm25: pm25\n};\n// 返回结果\nreturn { payload: result };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":580,"wires":[["941724aac7ce4dd9"]]},{"id":"941724aac7ce4dd9","type":"debug","z":"c59f4d226b2a4dd1","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":580,"wires":[]},{"id":"1b50641385f863a1","type":"ha-sensor","z":"c59f4d226b2a4dd1","name":"352air PM25 sensor","entityConfig":"d23c5abe.6df0a8","version":0,"state":"payload","stateType":"msg","attributes":[{"property":"IP","value":"ip","valueType":"msg"},{"property":"MAC","value":"mac","valueType":"msg"}],"inputOverride":"allow","outputProperties":[],"x":680,"y":640,"wires":[[]]},{"id":"0276aecf50fd6cde","type":"function","z":"c59f4d226b2a4dd1","name":"Parse Pm2.5","func":"var buf = Buffer.from(msg.payload);\nif (buf.length != 33 || buf[0] != 0xA1) {\n    return null;\n}\nvar ipAddr = msg.ip + ':' + msg.port;\nvar macAddr = buf.slice(2, 8).toString('hex');\nvar pm25 = buf.slice(19, 21).readUInt16BE();\n\nreturn { payload: pm25, ip: ipAddr, mac: macAddr };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":640,"wires":[["1b50641385f863a1"]]},{"id":"d23c5abe.6df0a8","type":"ha-entity-config","server":"9405c3fe.d0a6c","deviceConfig":"82a03237eff4d5f7","name":" 352air_M25 pm25","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":" 352air_M25 pm25 sensor"},{"property":"icon","value":""},{"property":"entity_category","value":"config"},{"property":"entity_picture","value":""},{"property":"device_class","value":"pm25"},{"property":"unit_of_measurement","value":"µg/m³"},{"property":"state_class","value":"measurement"}],"resend":true,"debugEnabled":false},{"id":"9405c3fe.d0a6c","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"82a03237eff4d5f7","type":"ha-device-config","name":" 352air_M25","hwVersion":"","manufacturer":"352Air","model":"M25","swVersion":""}]